<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzhz.kcmqmonitor.mapper.DynMemberStaffMapper" >
  <resultMap id="BaseResultMap" type="com.gzhz.kcmqmonitor.entity.DynMemberStaff" >
    <result column="staffId" property="staffid" jdbcType="BIGINT" />
    <result column="staffNo" property="staffno" jdbcType="BIGINT" />
    <result column="guid" property="guid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="staffName" property="staffname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="mobile2" property="mobile2" jdbcType="VARCHAR" />
    <result column="officePhone" property="officephone" jdbcType="VARCHAR" />
    <result column="safetyQuestion" property="safetyquestion" jdbcType="VARCHAR" />
    <result column="questionResult" property="questionresult" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthDay" property="birthday" jdbcType="DATE" />
    <result column="homepage" property="homepage" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="rowId" property="rowid" jdbcType="VARCHAR" />
    <result column="msn" property="msn" jdbcType="VARCHAR" />
    <result column="registerDate" property="registerdate" jdbcType="TIMESTAMP" />
    <result column="pastTime" property="pasttime" jdbcType="TIMESTAMP" />
    <result column="identifying" property="identifying" jdbcType="VARCHAR" />
    <result column="headImageUrl" property="headimageurl" jdbcType="VARCHAR" />
    <result column="smsState" property="smsstate" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="secretary" property="secretary" jdbcType="VARCHAR" />
    <result column="isEnable" property="isenable" jdbcType="BIT" />
    <result column="isDelete" property="isdelete" jdbcType="BIT" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="a8id" property="a8id" jdbcType="BIGINT" />
    <result column="a8departmentId" property="a8departmentid" jdbcType="BIGINT" />
    <result column="a8LoginId" property="a8loginid" jdbcType="VARCHAR" />
    <result column="a8sortid" property="a8sortid" jdbcType="INTEGER" />
    <result column="a8orgid" property="a8orgid" jdbcType="BIGINT" />
    <result column="a8PostId" property="a8postid" jdbcType="BIGINT" />
    <result column="a8LevelId" property="a8levelid" jdbcType="BIGINT" />
    <result column="OTHERID" property="otherid" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="staffNameResultMap" type="com.gzhz.kcmqmonitor.entity.DynStaffNo" >
    <!--<result column="staffId" property="staffid" jdbcType="BIGINT" />-->
    <result column="staffNo" property="staffno" jdbcType="BIGINT" />
    <!--<result column="guid" property="guid" jdbcType="VARCHAR" />-->
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="staffName" property="staffname" jdbcType="VARCHAR" />
    <result column="headImageUrl" property="headImageUrl" jdbcType="VARCHAR" />

  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gzhz.kcmqmonitor.entity.DynMemberStaff" extends="BaseResultMap" >

    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>


  <select id="setlectStaffNameByStaffNo" resultMap="staffNameResultMap" parameterType="list" >

    select staffNo, username, staffName, headImageUrl
    from dyn_member_staff
    <where>
      staffNo in
      <foreach item="item" collection="list" separator="," open="(" close=")" index="">
        #{item, jdbcType=BIGINT}
      </foreach>
    </where>
  </select>

  <insert id="insert" parameterType="com.gzhz.kcmqmonitor.entity.DynMemberStaff" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into dyn_member_staff (staffId, staffNo, guid, 
      username, staffName, password, 
      email, mobile, mobile2, 
      officePhone, safetyQuestion, questionResult, 
      sex, birthDay, homepage, 
      qq, rowId, msn, registerDate, 
      pastTime, identifying, headImageUrl, 
      smsState, sort, secretary, 
      isEnable, isDelete, updateTime, 
      a8id, a8departmentId, a8LoginId, 
      a8sortid, a8orgid, a8PostId, 
      a8LevelId, OTHERID, description
      )
    values (#{staffid,jdbcType=BIGINT}, #{staffno,jdbcType=BIGINT}, #{guid,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{staffname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{mobile2,jdbcType=VARCHAR}, 
      #{officephone,jdbcType=VARCHAR}, #{safetyquestion,jdbcType=VARCHAR}, #{questionresult,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{homepage,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{rowid,jdbcType=VARCHAR}, #{msn,jdbcType=VARCHAR}, #{registerdate,jdbcType=TIMESTAMP}, 
      #{pasttime,jdbcType=TIMESTAMP}, #{identifying,jdbcType=VARCHAR}, #{headimageurl,jdbcType=VARCHAR}, 
      #{smsstate,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{secretary,jdbcType=VARCHAR}, 
      #{isenable,jdbcType=BIT}, #{isdelete,jdbcType=BIT}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{a8id,jdbcType=BIGINT}, #{a8departmentid,jdbcType=BIGINT}, #{a8loginid,jdbcType=VARCHAR}, 
      #{a8sortid,jdbcType=INTEGER}, #{a8orgid,jdbcType=BIGINT}, #{a8postid,jdbcType=BIGINT}, 
      #{a8levelid,jdbcType=BIGINT}, #{otherid,jdbcType=BIGINT}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gzhz.kcmqmonitor.entity.DynMemberStaff" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into dyn_member_staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffid != null" >
        staffId,
      </if>
      <if test="staffno != null" >
        staffNo,
      </if>
      <if test="guid != null" >
        guid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="staffname != null" >
        staffName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="mobile2 != null" >
        mobile2,
      </if>
      <if test="officephone != null" >
        officePhone,
      </if>
      <if test="safetyquestion != null" >
        safetyQuestion,
      </if>
      <if test="questionresult != null" >
        questionResult,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthDay,
      </if>
      <if test="homepage != null" >
        homepage,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="rowid != null" >
        rowId,
      </if>
      <if test="msn != null" >
        msn,
      </if>
      <if test="registerdate != null" >
        registerDate,
      </if>
      <if test="pasttime != null" >
        pastTime,
      </if>
      <if test="identifying != null" >
        identifying,
      </if>
      <if test="headimageurl != null" >
        headImageUrl,
      </if>
      <if test="smsstate != null" >
        smsState,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="secretary != null" >
        secretary,
      </if>
      <if test="isenable != null" >
        isEnable,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="a8id != null" >
        a8id,
      </if>
      <if test="a8departmentid != null" >
        a8departmentId,
      </if>
      <if test="a8loginid != null" >
        a8LoginId,
      </if>
      <if test="a8sortid != null" >
        a8sortid,
      </if>
      <if test="a8orgid != null" >
        a8orgid,
      </if>
      <if test="a8postid != null" >
        a8PostId,
      </if>
      <if test="a8levelid != null" >
        a8LevelId,
      </if>
      <if test="otherid != null" >
        OTHERID,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffid != null" >
        #{staffid,jdbcType=BIGINT},
      </if>
      <if test="staffno != null" >
        #{staffno,jdbcType=BIGINT},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null" >
        #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobile2 != null" >
        #{mobile2,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null" >
        #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="safetyquestion != null" >
        #{safetyquestion,jdbcType=VARCHAR},
      </if>
      <if test="questionresult != null" >
        #{questionresult,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="homepage != null" >
        #{homepage,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="rowid != null" >
        #{rowid,jdbcType=VARCHAR},
      </if>
      <if test="msn != null" >
        #{msn,jdbcType=VARCHAR},
      </if>
      <if test="registerdate != null" >
        #{registerdate,jdbcType=TIMESTAMP},
      </if>
      <if test="pasttime != null" >
        #{pasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="identifying != null" >
        #{identifying,jdbcType=VARCHAR},
      </if>
      <if test="headimageurl != null" >
        #{headimageurl,jdbcType=VARCHAR},
      </if>
      <if test="smsstate != null" >
        #{smsstate,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="secretary != null" >
        #{secretary,jdbcType=VARCHAR},
      </if>
      <if test="isenable != null" >
        #{isenable,jdbcType=BIT},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="a8id != null" >
        #{a8id,jdbcType=BIGINT},
      </if>
      <if test="a8departmentid != null" >
        #{a8departmentid,jdbcType=BIGINT},
      </if>
      <if test="a8loginid != null" >
        #{a8loginid,jdbcType=VARCHAR},
      </if>
      <if test="a8sortid != null" >
        #{a8sortid,jdbcType=INTEGER},
      </if>
      <if test="a8orgid != null" >
        #{a8orgid,jdbcType=BIGINT},
      </if>
      <if test="a8postid != null" >
        #{a8postid,jdbcType=BIGINT},
      </if>
      <if test="a8levelid != null" >
        #{a8levelid,jdbcType=BIGINT},
      </if>
      <if test="otherid != null" >
        #{otherid,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>